.container1 {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
}
.gm-err-container{
    width: 375px;
    background-color: rgb(255, 255, 255);
}

.top-bar1 {
    margin-top: -14rem;
    z-index: 1;
}
.back-button1{
    width: 9px;
    height: 10px;
}
.back-link1{
    cursor: pointer;
    margin-top: 1rem;
}
.map-style {
    width: 400px;
    height: 180px;
    padding: 5px 5px;
    margin-right: 20px;
}

.relationship-managers {
    background-color: #ffffff;
    font-family: ubuntu;
}

.manager-relation-ship1 {
    font-family: ubuntu;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.managers-full-deatils {
    background-color: #ffffff;
    width: 375px;
}

.manager-details {
    display: block;
    padding: 5px 5px;
    background-color: #fff;
    box-shadow: 1px 1px #C4C4C4;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    margin: 0 auto;
}
.heading-navigation{
    text-align: left;
    padding: 5px 5px;
    color: #1E1E1E;
    font-family: DM Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
}
.card-details{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.manager-name{
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
.application-id1{
    color: rgba(78, 79, 80, 0.70);
    font-family: Ubuntu;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: left;
}
.border-bottom-line{
    border-bottom: 1px solid #C4C4C4;
    margin: 1rem auto;
}
.phone1 {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
    width: 20px;
    height: 20px;
}
.customer-address{
    margin-bottom: 1rem;
}
.customer-data 
{
    display: flex;
    justify-content: space-around;
}
.icon{
    border: #C4C4C4;
    border-radius: 100%;
    padding: 10px 20px;
    text-align: center;
   background-color: #f5c9c9;
}

.customer-add{
    color: #9D9D9D;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.add-deatils{
    color: #1E1E1E;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}
.arrival-time{
    display: flex;
    justify-content: space-around;
}
.icon1 {
    border: #C4C4C4;
    border-radius: 100%;
    padding: 10px 20px;
    text-align: center;
    background-color: #f5c9c9;
}
.time-heading{
    /* margin-left: 2rem; */
    margin-right: 5rem;
}

.arrival-time-heading {
    color: #9D9D9D;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.reach-time {
    color: #1E1E1E;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}
.connect-ordertracking{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-hiperlink-style{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 8px 140px;
    background-color: #0055A9;
    border-radius: 8px;
    border: 1px solid #B2C0C9;
}
.connect-order-tracking{
    color: #FFF;
    background-color: #0055A9;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
}
